*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

body{
    padding: 5px 70px;
}
#name{
    font-size: 1.5rem;
    font-weight: bolder;
    
}
#name:hover{
    color: orange;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#head{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

li, a{
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
}

#cv:hover, #project:hover, #contact:hover{
    
    color: orange;
    font-weight: bold;
    transition: all 2s;
}

#cv{
    border-right: 1px solid black;
    padding:0px 15px 0px 15px;
}

#contact{
    border-left: 1px solid black;
    
    padding:0px 15px 0px 15px;
    
}

#project{
    padding: 0px 15px;
}
#main_index{
    display: flex;
    justify-content: center ;
    padding: 2% 5% 6% 5% ;
    border-bottom:solid 2px gray;
}

.middle{
    display: flex;
    flex-direction: column;
}
.btn{
    display: flex;
    justify-items: center;
    justify-content: center;
    
}

#c,#p, #co{
    color: black;
    margin: 3% 3%;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bolder;
}
#c{
 
    background-color:orange;
    
    
}
#c:hover{
    background-color:orangered;
    width: 93px;
    height: 93px;
    box-shadow: 1px 5px 5px 5px rgb(112, 3, 3);
    border: none;
    transition: all 2s;


}
#p{
    background-color: rgb(192, 13, 13);
    
}
#p:hover{

    width: 93px;
    height: 93px;
    box-shadow: 1px 5px 5px 5px rgb(112, 3, 3);
    border: none;
    transition: all 2s;
}

#co{
    background-color:blue;
    
    
}
#co:hover{
    background-color: rgb(11, 21, 161);
    width: 93px;
    height: 93px;
    box-shadow: 1px 5px 5px 5px rgb(1, 9, 77);
    border: none;
    transition: all 2s;
}
#img{
    width: 30%;
    height: 100%;
    margin-right: 5%;
}
img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0% 10% 0% 30%;
    
}

#comment{
    margin: 0% 20% 0% 20%;
    padding: 0% 10% 0% 2%;
    text-align: justify;
}
footer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}
h4{
    padding-top: 4%;
    margin-bottom: 2%;
}

#phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#email{
    
    text-align: center;
}
#mail{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.wa_tel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#telegram:hover{
    color: rgb(0, 102, 255);
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20%;
}
#tel:hover {
    color:orange;
}
#mail:hover {
    color: orange;
}
#insta:hover, #face:hover, #twit:hover{
    color: orange;
}
#wa:hover{
    color: green;
}

/*css pour le formulaire de contact*/

#main_contact{
    display: flex;
    justify-items: center ;
    justify-content: space-between;
    padding: 0% 0% 5% 15% ;
    border-bottom:solid 2px gray;
}
#form{
    display: flex;
    justify-items: center ;
    justify-content: space-between;
    padding: 2% 10% 6% 10% ;
}
#form1{
    margin-right: 5%;
}
#msg{
    width: 180px;
    height: 100px;
}
input[type="text"], input[type="email"], textarea{
    border: 2px solid black;
    
}
#form1, #form2{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#send{
    margin: 60px 0px 0px 20px;
    width: 120px;
    height: 120px;
    font-size: 20px;
    font-weight: bolder;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
}

#send:hover{
    background-color:orangered;
    width: 93px;
    height: 93px;
    box-shadow: 1px 5px 5px 5px rgb(112, 3, 3);
    border: none;
    transition: all 2s;


}
.on{
    color: orange;
    border: 2px solid orangered;
    border-radius: 10px;
}

/*css pour le cv*/
#main_cv{
    border-bottom:solid 2px gray;
    padding:5% 5%;
}
#all_cv{
    padding: 0% 15%;
    display: flex;
    text-align: justify;
}