*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
body{
    margin: 0;
    width: 100%;
    height: 100vh;
}
.padding--effect{
    padding: 1% 5%;
    
}

/* Header */
.header__name{
    font-size: 1.5rem;
    font-weight: bolder;
    
}
.header__name:hover{
    color: orange;
    border: 1px solid orangered;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(255,165, 0, 0.5);
    transition: all 0.3s;
}
.header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}
.header a{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header__nav{
    
    display: flex;
    flex-direction: row;
    justify-content: right;
   
}

li, a{
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
}

.cv:hover, 
.project:hover,
.contact:hover{
    
    color: orange;
    font-weight: bold;
    transition: all 0.3s;
}

.cv{
    border-right: 1px solid black;
    padding:0px 15px 0px 15px;
}

.contact{
    border-left: 1px solid black;
    
    padding:0px 15px;
    
}

.project{
    padding: 0px 10px;
}

/* index */
.main_index{
    min-height: 75vh;
    width: 100%;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    
}

.Personnality{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 450px;
    gap: 35px;
}
.Personnality__btn{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap :20px;
    padding:0%
}

.Personnality__btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: bolder;
    
}
.btn__cv{
      background-color:orange;
    
    
}
.btn__cv:hover{
    background-color:orangered;
    width: 130px;
    height: 130px;
    box-shadow: 1px 5px 5px 5px rgb(112, 3, 3);
    border: none;
    transition: all 2s;
    cursor: pointer;


}
.btn__p{
    background-color: rgb(192, 13, 13);
    
}
.btn__p:hover{

    width: 130px;
    height: 130px;
    box-shadow: 1px 5px 5px 5px rgb(112, 3, 3);
    border: none;
    transition: all 2s;
    cursor: pointer;
}

.btn__co{
    background-color: #80D8DA;
    
    
}
.btn__co:hover{
    background-color: rgb(11, 21, 161);
    width: 130px;
    height: 130px;
    box-shadow: 1px 5px 5px 5px rgb(1, 9, 77);
    border: none;
    transition: all 2s;
    cursor: pointer;
    
}

.profile_pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    filter: grayscale(1);
    
}

.profile_pic:hover{
    filter: grayscale(0);
    border: 1px solid black;
    padding: 2%;
    border-radius: 50%;
    transition: all ease-in-out 0.5s;
}
.Personnality__Description{
    
    text-align: justify;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    border-top:solid 2px gray;
}
/* h4{
    padding-top: 4%;
    margin-bottom: 2%;
} */

.Phone__contact{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}
.register1--email{
    
    text-align: center;
}
.contacter__mail{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.wa:hover{
    color: green;
}
.telegram:hover{
    color: rgb(0, 102, 255);
}
.email--mail:hover{
    color: orange;
}
.social__media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20%;
}

.Phone__contact--tel:hover,
.contacter__tel:hover,
.contacter__mail:hover {
    color: orange;
}
.social__media--insta:hover{

    color: rgb(216, 7, 76);
}
.social__media--twit:hover{
    color: rgb(50, 102, 245);
}
.social__media--face:hover{
    color: rgb(36, 36, 172);
}


/*css pour le formulaire de contact*/

.main_contact{
    min-height: 65vh;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-items: center ;
    align-items: center;
    justify-content: space-between;
    padding: 0% 20%;
    
}

.register{
    display: flex;
    justify-items: center ;
    justify-content: space-between;
    height: 350px;
    width: 350px;

}
.contacter{
    height: 350px;
    width: 350px;

}
.register1{
    margin-right: 5%;
}
.register1--msg{
    width: 180px;
    height: 100px;
}
input[type="text"], input[type="email"]{
    border: 2px solid black;
    
}
.register1, .register2{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.register2--send{
    margin: 60px 0px 0px 20px;
    width: 120px;
    height: 120px;
    font-size: 20px;
    font-weight: bolder;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
}

.register2--send:hover{
    background-color:orangered;
    width: 93px;
    height: 93px;
    box-shadow: 1px 5px 5px 5px rgb(112, 3, 3);
    border: none;
    transition: all 2s;


}
.link--framed{
    margin: left 10px; ;
    color: orange;
    border: 2px solid orangered;
    border-radius: 10px;
    background-color: rgba(255,165, 0, 0.5);
}

/*css pour le cv*/

.main_cv{
    
    padding:5% 5%;
    
}
.curiculum__title{
    margin-bottom: 5% ;
}
.curiculum__degree{
    display: flex;
    align-items:center;
    align-content: space-between;
    
}

.diploma__degree:hover,
.professional__experience:hover{
    border: 2px solid rgba(255,165, 0, 0.5);
    border-radius: 5px ;
    padding: 2%;
    transition: all 0.5s;
}
.diploma--work,
.curiculum__languages {
    width: 50%;
    margin-right: 10%;
    text-align: justify;
}
.date{
    padding-left: 15%;
}
.underline{
    
    border-bottom : 1px solid black;
}
/*css pour le projet*/

.main__project{
   
    padding: 2% 5% 20% 5% ;
}

.project__content{
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.project__pic{
    width: 500px;
    height: 300px;
    margin-bottom: 10%;
    border: 10px solid rgb(216, 214, 214);
}

.project--description{
    margin: 5% 5%;
    width: 50%;
    font-size: 1.5rem;
}



/* Responsive */

@media screen and(max-width : 1280px) {
    
}

/* Tablette */

@media screen and (max-width : 905px){
    
}
/* Téléphone */
@media screen and (max-width : 768px ){
    
}
/* Petit Téléphone */
@media screen and (max-width : 428px){

    /* header */
    .header{
        width: 100%;
        /* height: 10vh; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0%;
        
    }

    .header__name{
        font-size: 1.5rem;
        font-weight: bolder;
        margin-top: 10%;
        
    }
    .header__nav{
    
        padding: 0;
        justify-content: center;
       
    }
    /* footer */

    .footer{
        width: 90%;
        margin-left: 5%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: space-between;
        border-top:solid 2px gray;
        padding: 0px 0px;
     
    }

    .social__media{
        
        justify-content: center;
        margin-top: 1rem;
        gap: 10%;
    }
    .Phone__contact{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        
    }
    .email{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .Phone__contact--tel,.follow,.Author{
        justify-content: center;
        text-align: center;
    }

    /* index */

    .main_index{
        
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .profile{
        margin-top: 10%;
    }
    .profile_pic{
        justify-content: center;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        filter: grayscale(1);
        
        
    }

    .profile_pic:hover{
        filter: grayscale(0);
        border: 1px solid black;
        padding: 2%;
        border-radius: 50%;
        transition: all ease-in-out 0.5s;
    }

    .Personnality{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        
    }

    .Personnality__Description{
        padding: 0px 55px;
        text-align: center;
        font-size: 1.3rem;
    }

    .Personnality__btn{
        display: flex;
        justify-items: center;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        flex-direction: row;
        gap :10px;
        margin-left: 10%;
        
    }
    
    .Personnality__btn a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 80px;
        height: 80px;
        border: 1px solid black;
        border-radius: 50%;
        font-weight: bolder;
        
    }


    .btn__cv:hover{
        /* background-color:orangered; */
        width: 100px;
        height: 100px;
         /*box-shadow: 1px 5px 5px 5px rgb(112, 3, 3);
        border: none;
        transition: all 2s;
        cursor: pointer; */
    }
    .btn__p:hover{

        width: 100px;
        height: 100px;
        /* box-shadow: 1px 5px 5px 5px rgb(112, 3, 3);
        border: none;
        transition: all 2s;
        cursor: pointer; */
    }
    .btn__co:hover{
        /* background-color: rgb(11, 21, 161); */
        width: 100px;
        height: 100px;
        /* box-shadow: 1px 5px 5px 5px rgb(1, 9, 77);
        border: none;
        transition: all 2s;
        cursor: pointer; */
        
    }
    
    
    /* Project */
    .main__project{
        display: flex;
        flex-direction: column;
        padding: 2% 5% 20% 5% ;
        justify-content: center;
        align-items: center;
    }
    
    .project__content{
        
        flex-direction: column-reverse;
        border: 2px solid rgba(255,165, 0, 0.5);
        border-radius: 3%;
        margin-bottom: 5%;
        align-items: center;
    }
    
    .project__pic{
        display: flex;
        width: 250px;
        height: 250px;
        align-items: center;
        justify-content: center;
        margin: 10% 10% 0% 0%;
        border: 10px solid rgb(216, 214, 214);
    }
    
    .project--description{
        margin: 5% 10% 0%;
        width: 70%;
        font-size: 1.5rem;
    }

}