*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#name{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: left;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head{
    display: flex;
    justify-content: right;
}

li, a{
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px 3px;
    padding: 0px 5px;
}

#project{
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}
img{
    width: 20%;
    height: 40%;
    border-radius: 50%;
}

.middle{
    display: inline;
    width: 20%;
    height: 20%;
}